<router-outlet></router-outlet>
<!-- <video autoplay muted loop id="myVideo">
  <source src="../assets/wallpaper.mp4" type="video/mp4">
</video> -->

<div class="container_box"
  style="position: static; opacity: 96%; z-index: 1; margin: 3% 10% 1% 10%; background-color: black; padding: 5vw;  border-radius: 2vw;">
  <div class="row" style="padding-left: 2vw; padding-right: 2vw; padding-bottom: -10%; padding-top: 0%;">
    <div class="img col-md-6 col-xs-12"
      style="padding: 1vw; padding:1px; border:4px solid green; background-color: black;">
      <img style="height: 100%; width: 100%;" src="../assets/personal.jpg" alt=""><br>
    </div>
    <div class="text col-md-6 col-xs-12" style="padding: 2vw; color: green;">
      <h3>AKHIL CHANDRA GORAKALA</h3><br>
      <h6><i class="fa fa-user-secret" style="color: red;"></i> Cyber Security Enthusiast</h6>
      <h6><i class="fa fa-android" style="color: red;"></i> APP/WEB DEVELOPER <i class="fa fa-globe"></i></h6><br>
      <p>"I can not do everything, but I can do something. I must not fail to do the something that I can do."</p><br>
      <ul class="info" style="list-style-type: none; color: green;">
        <li><a href="tel:+91-739-660-2734" style="color: green;"><i class="lnr lnr-phone-handset"></i> (+91)
            7396602734</a></li>
        <li><a href="mailto:akhilchandra.g@gmail.com?" style="font-size: 80%; color: green;"><i
              class="lnr lnr-envelope"></i>
            akhilchandra.g@gmail.com</a></li>
        <li><a
            href="https://www.google.com/maps/place/Andhra+Pradesh/@15.8482222,76.2657036,6z/data=!3m1!4b1!4m5!3m4!1s0x3a3546f8ae93d47f:0x33d1bbbe95adcd83!8m2!3d15.9128998!4d79.7399875"
            style="color: green;"><i class="lnr lnr-home"></i> Andhra Pradesh, INDIA</a></li>
      </ul>
      <ul class="social" style=" text-align:center;  display: inline; list-style-type: none;">
        <li><a href="https://www.facebook.com/people/%C4%84udaciou%C5%9F-Akhil-Chandra/100002849301852"><i
              class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/audacious_akhil_chandra/?hl=en"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.linkedin.com/in/akhil-chandra-gorakala-986643190/"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://gitlab.com/akhil_chandra.g"><i class="fa fa-gitlab"></i></a></li>
      </ul>
    </div><br><br>
  </div>
</div>